@{
    ViewBag.Title = "Haworth Dispatch";
}

<h2>Haworth Dispatch</h2>


<div>
    <input type="checkbox" class="dtSearchField" checked id="RemainingOrdersOnly"><label for="RemainingOrdersOnly" id="RemainingOrdersOnlyLabel">Only Show Remaining Orders</label>
    <br />
    <input type="checkbox" class="dtSearchField" id="UseLiveData"><label for="UseLiveData" id="UseLiveDataLabel">Use Live Data</label>
</div>
<div class="well">
    <div>
        <input id="GenerateDispatch" type="button" value="Generate Dispatch">
    </div>
</div>
<table id="objItems">
    <thead>
        <tr class="dtSearchFields">
            <th style="padding: 0px 0px"></th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="JobNumber" id="JobNumberFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="CONumber" id="CONumberFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="PONumber" id="PONumberFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="SONumber" id="SONumberFilter">
            </th>
            <th style="padding: 0px 0px">
            </th>
            <th style="padding: 0px 0px">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="ItemNumber" id="ItemNumberFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="Shell" id="ShellFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="Frame" id="FrameFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="Fabric" id="FabricFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="ArmCaps" id="ArmCapsFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="From" id="ShipByDateFromFilter">
                <br />
                <input class="dtSearchField" style="width: 100%" placeholder="To" id="ShipByDateToFilter">
            </th>
            <th style="padding: 0px 0px">
                <input class="dtSearchField" style="width: 100%" placeholder="From" id="DockDateFromFilter">
                <br />
                <input class="dtSearchField" style="width: 100%" placeholder="To" id="DockDateToFilter">
            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <label for="JobNumberFilter">Job</label>
            </th>
            <th>
                <label for="CONumberFilter">CO</label>
            </th>
            <th>
                <label for="PONumberFilter">PO</label>
            </th>
            <th>
                <label for="SONumberFilter">SO</label>
            </th>
            <th>
                <label>Qty Ordered</label>
            </th>
            <th>
                <label>Qty Remaining</label>
            </th>
            <th>
                <label for="ItemNumberFilter">Item</label>
            </th>
            <th>
                <label for="ShellFilter">Shell</label>
            </th>
            <th>
                <label for="FrameFilter">Frame</label>
            </th>
            <th>
                <label for="FabricFilter">Fabric</label>
            </th>
            <th>
                <label for="ArmCapsFilter">Arm Caps</label>
            </th>
            <th>
                <label for="ShipByDateFilter">Ship By</label>
            </th>
            <th>
                <label for="DockDateFilter">Dock Date</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div>
    <input id="btnDownload" type="button" value="Download in Excel" />
</div>
<div id="embedHolder">
</div>
@section styles{
    <link rel="Stylesheet" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/datatables")" />
    <link rel="Stylesheet" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/datatablesButtons")" />
    <link rel="Stylesheet" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/impromptu")" />
}


@section Scripts{
    <script type="text/javascript">
        var sGetDataUrl = '@Url.Action("GetDispatchData", "Haworth")';
        var sOpenImageUrl = '@Url.Content("~/Content/images/details_open.png")';
        var sCloseImageUrl = '@Url.Content("~/Content/images/details_close.png")';
        var sGetPrintIDURL = '@Url.Action("PrintIDLabel", "Haworth")';
        var sGenerateDispatchDataUrl = '@Url.Action("GenerateDispatchData", "Haworth")';
    </script>

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/DataTablesButtons")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/DataTablesJSZip")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/DataTablesPDFMake")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/DataTablesFonts")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/DataTablesHTML5Buttons")">
    </script>

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/impromptu")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/haworthdispatch")">
    </script>
}