@{
    ViewBag.Title = "Haworth Dispatch";
}

<h2>Haworth Dispatch</h2>

@Html.ActionLink("Planning", "Index")

<table id="objItems">
    <thead>
        <tr class="dtSearchFields">
            <th></th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="JobNumber" id="JobNumberFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="CONumber" id="CONumberFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="PONumber" id="PONumberFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="SONumber" id="SONumberFilter">
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="ItemNumber" id="ItemNumberFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="Shell" id="ShellFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="Frame" id="FrameFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="Fabric" id="FabricFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="ArmCaps" id="ArmCapsFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="From" id="ShipByDateFromFilter">
                <br />
                <input class="dtSearchField" style="width: 100px" placeholder="To" id="ShipByDateToFilter">
            </th>
            <th>
                <input class="dtSearchField" style="width: 100px" placeholder="From" id="DockDateFromFilter">
                <br />
                <input class="dtSearchField" style="width: 100px" placeholder="To" id="DockDateToFilter">
            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <label for="JobNumberFilter">Job</label>
            </th>
            <th>
                <label for="CONumberFilter">CO</label>
            </th>
            <th>
                <label for="PONumberFilter">PO</label>
            </th>
            <th>
                <label for="SONumberFilter">SO</label>
            </th>
            <th>
                <label>Qty Ordered</label>
            </th>
            <th>
                <label>Qty Remaining</label>
            </th>
            <th>
                <label for="ItemNumberFilter">Item</label>
            </th>
            <th>
                <label for="ShellFilter">Shell</label>
            </th>
            <th>
                <label for="FrameFilter">Frame</label>
            </th>
            <th>
                <label for="FabricFilter">Fabric</label>
            </th>
            <th>
                <label for="ArmCapsFilter">Arm Caps</label>
            </th>
            <th>
                <label for="ShipByDateFilter">Ship By</label>
            </th>
            <th>
                <label for="DockDateFilter">Dock Date</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="embedHolder">
</div>
@section styles{
    <link rel="Stylesheet" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/datatables")" />
}


@section Scripts{
    <script type="text/javascript">
        var sGetDataUrl = '@Url.Action("GetDispatchData", "Haworth")';
        var sOpenImageUrl = '@Url.Content("~/Content/images/details_open.png")';
        var sCloseImageUrl = '@Url.Content("~/Content/images/details_close.png")';
        var sGetPrintIDURL = '@Url.Action("PrintIDLabel", "Haworth")';
    </script>

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")">
    </script>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/haworthdispatch")">
    </script>
}